<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mr+De+Haviland&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet">
    <title>Shiop</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <a href="/">
          <img src="/static/images/logo.png" alt="" class="logo" id="logo" />
        </a>
        <ul id="topnav" class="topnav">
          <li id="topnav-item"><a href="/">Home</a></li>
          <li id="topnav-item"><a href="/product">Products</a></li>
          {% if user != None %}
            <li id="topnav-item"><a href="/account">Account</a></li>
            <li id="topnav-item"><a href="/logout">Logout</a></li>
          {% else %}
            <li id="topnav-item"><a href="/register">Register</a></li>
            <li id="topnav-item"><a href="/login">Login</a></li>
          {% endif %}
        </ul>
      {% if user != None %}
          <a href="/cart">
              <button type="button" class="cart" id="cart">
                  <ion-icon name="basket-outline"></ion-icon>
              </button>
          </a>
      {% else %}
          <a href="/login">
              <button type="button" class="cart" id="cart">
                  <ion-icon name="basket-outline"></ion-icon>
              </button>
          </a>
      {% endif %}
      </div>
    </header>
    <section class="first-page" id="first-page">
      <div class="cta">
        <a href="/product"><h5>Check out our Products</h5></a>
      </div>
      <container class="headlines">
        <h1 class="hero">Everything you need,</h1>
        <h1 class="hero">at your fingertip</h1>
        <p class="desc">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam
          inventore, modi ducimus maiores voluptatum culpa ex itaque, labore
          commodi minus temporibus nobis, tempora sit magnam. Ea inventore animi
          dolorem delectus.
        </p>
      </container>
    </section>
    
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="../static/script.js"></script>
    <script src="../static/solid.js"></script>
    <script src="../static/elements.js"></script>
    <script src="../static/filter.js"></script>
  </body>
</html>
