<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mr+De+Haviland&family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="navbar">
          <a href="/">
            <img src="/static/images/logo.png" alt="" class="logo" id="logo" />
          </a>
          <ul id="topnav" class="topnav">
            <li id="topnav-item"><a href="/">Home</a></li>
            <li id="topnav-item"><a href="/product">Products</a></li>
            <li id="topnav-item"><a href="/register">Register</a></li>
            <li id="topnav-item"><a href="/login">Login</a></li>
          </ul>
          <a href="#cart">
            <button type="button" class="cart" id="cart">
              <ion-icon name="basket-outline"></ion-icon>
            </button>
          </a>
        </div>
      </header>
      <section class="section login-section register-section">
        <div class="container login-form register-form">
            <h2 class="h2 section-title">Login</h2>
            <form>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <button type="submit" class="login-btn">Login</button>
            </form>
      </section>
      
      <script>
        function handleLogin(event) {
          event.preventDefault();
          // Get form data
          const username = document.getElementById('username').value;
          const password = document.getElementById('password').value;
          
          // Make AJAX request to register endpoint
          fetch('/login', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ username, password }),
            })
            .then(response => {
              if (!response.ok) {
                  throw new Error('Network response was not ok');
              }
              alert('Login successful!');
              window.location.href = '/';
          })
            .catch(error => {
            console.error(error);
            // Display error message
            });
          }
          
          const loginBtn = document.querySelector('.login-btn');
          loginBtn.addEventListener('click', handleLogin);
      </script>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
      <script src="../static/solid.js"></script>
</body>
</html>