<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="navbar">
          <a href="/">
            <img src="/static/images/logo.png" alt="" class="logo" id="logo" />
          </a>
          <ul id="topnav" class="topnav">
            <li id="topnav-item"><a href="/">Home</a></li>
            <li id="topnav-item"><a href="/product">Products</a></li>
            <li id="topnav-item"><a href="/register">Register</a></li>
            <li id="topnav-item"><a href="/login">Login</a></li>
          </ul>
          <a href="#cart">
            <button type="button" class="cart" id="cart">
              <ion-icon name="basket-outline"></ion-icon>
            </button>
          </a>
        </div>
      </header>
</body>
</html>